# Unreal Engine

Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio

.vs/
*.VC.db
*.VC.opendb
*.suo

# Rider

.idea/

# Build files

*.xcodeproj
*.xcworkspace

# OS files

.DS_Store
Thumbs.db
desktop.ini
